/*MOBILE VERSION*/
@media (max-width: 400px) {

  div#wrapper {
    margin: 0;
    width: 400px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5); 
  }
}