@import url("reset.css");
@import url("mobile.css");

body {
  background: url('images/bg.png') center repeat-y #ccc;
  font-family: 'Trebuchet MS', Helvetica, Arial, Verdana;
  font-size: 14px;
}

a, a:visited { text-decoration: none; }

div#status {
  color: red;
  font-size: 24px;
}

#loader {
  visibility: hidden;
}

#notification {
  text-align: center;
  font-size: 24px;
  display: none;
}

div#wrapper {
    margin: auto;
    margin-top: 40px;
    width: 700px;
}

div#logo {
    width: 437px;
    margin: auto;
}

div#logo > div {
    padding: 10px;
}

div#logoTextBig {
    float: left;
    font-size: 48px;
    color: #80878c;
}

div#logoTextSmall {
    float: left;
    font-size: 30px;
    color: #b5b5b5;
    font-weight: bold;
    margin-top: 13px;
}
div#pealkiri{
    text-align: left;
    margin: 30px 0 30px 15px;
    font-size: 30px;
    color: #b5b5b5;
    font-weight: bold;

}

div#logoImg {
    float: left;
    margin-top: -10px;
}

div.clear {
    clear: both;
}

div#main {
    text-align: center;
    color: #507ba5;
    font-weight: bold;
    min-height: 120px;
}

div#main input {
  margin: 0 10px 0 10px;
  width: 180px;
  border: 1px solid #cecece;
  padding: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #898989;
  -moz-box-shadow: 0 0 2px #cecece;
  -webkit-box-shadow: 0 0 2px #cecece;
  box-shadow: 0 0 2px #cecece;
  -webkit-background-clip: padding-box;
}

div#main input[type='search'] { /*BG HERE!*/
  padding-left: 25px;
  background: url('images/magnifier.png') no-repeat 5px center #fff;
}

div#main button {
    display: block;
    float: right; 
    margin: 0 10px 0 10px;
    border: 1px solid #cecece;
    height: 32px;
    padding: 0 7px 0 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #898989;
    -moz-box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #f8f8f8;
    box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #f8f8f8;
    -webkit-background-clip: padding-box;
    background-image: -moz-linear-gradient(#fff, #e6e6e6);
    background-image: -ms-linear-gradient(#fff, #e6e6e6);
    background-image: -webkit-linear-gradient(#fff, #e6e6e6);
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    font-family: 'Trebuchet MS';
}

div#main button.facebook {
    color: white;
    text-shadow: 1px 1px 1px #335570;
    border: none;
    border-top: solid 1px #8dacc4;
    background-image: -moz-linear-gradient(#5986a9, #25567c);
    background-image: -ms-linear-gradient(#5986a9, #25567c);
    background-image: -webkit-linear-gradient(#5986a9, #25567c);
    -moz-box-shadow: 0 0 2px #cecece;
    box-shadow: 0 0 2px #cecece;
}

div#main button.facebook:hover {
    background-image: -moz-linear-gradient(#25567c, #5986a9);
    background-image: -ms-linear-gradient(#25567c, #5986a9);
    background-image: -webkit-linear-gradient(#25567c, #5986a9);
    -moz-box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #f8f8f8;
    box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #8dacc4;
}

div#main button.facebook:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -moz-transform: scale(0.95);
}

div#main button.facebook .ficon {
  position: absolute;
  margin: 1px 0 0 2px;
  width: 8px;
  height: 17px;
  display: inline-block;
  background: url('images/ficon.png') no-repeat;
}

.controls  button {
  display: inline;
}

div#main button:hover {
  cursor: pointer;
  -moz-box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #e6e6e6;
  box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #e6e6e6;
  background-image: -moz-linear-gradient(#f8f8f8, #d9d9d9);
  background-image: -ms-linear-gradient(#f8f8f8, #d9d9d9);
  background-image: -webkit-linear-gradient(#f8f8f8, #d9d9d9);
}

div#main button:active {
  cursor: pointer;
  -moz-box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #e6e6e6;
  box-shadow: 0 0 2px #cecece, inset 0px -1px 0 0 #e6e6e6;
  background-image: -moz-linear-gradient(#d9d9d9, #f8f8f8);
  background-image: -ms-linear-gradient(#d9d9d9, #f8f8f8);
  background-image: -webkit-linear-gradient(#d9d9d9, #f8f8f8);
  color: #cecece;
}

div#footer {
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px dashed #cecece;
    padding: 10px 8px 0 8px;
}

div#footer a {
    color: #5b6269;
}

div#footer a:hover {
    text-decoration: underline;
    color: #5b6269;
}


div#footerLeft {
    float: left;
}

div#footerLeft > span {
  vertical-align: top;
}

div#footerLeft > img, div#footerLeft > span > img {
    vertical-align: middle;
    padding: 0 10px;
}

div#footerRight {
    float: right;
}

div#footerRight > img{
    margin-top: -5px;
}

#contactList {
    margin: 10px;
    list-style-type: none;
}

#contactList li:nth-child(even) {
    background-image: -moz-linear-gradient(#e6e6e6, #fff);
    background-image: -ms-linear-gradient(#e6e6e6, #fff);
    background-image: -webkit-linear-gradient(#e6e6e6, #fff); 
}

#contactList li:nth-child(odd) {
    background-image: -moz-linear-gradient(#fff, #e6e6e6);
    background-image: -ms-linear-gradient(#fff, #e6e6e6);
    background-image: -webkit-linear-gradient(#fff, #e6e6e6);
}

/* REGISTER */

table {
    margin: auto;
}

td {
    text-align: left;
    padding: 10px;
}


/* ABI */



h2 {
    font-size: 1.5em;
    padding-bottom: 5px;
}

div#content {
    padding: 0 10px 0 10px;
    text-align: left;
    color: black;
    font-weight: normal;
    line-height: 1.2em;
}

#contactList li {
    text-align: left;
    padding:5px;
    color: #161616;
    font-weight: normal;
}

#contactList li  table{
  margin: 0;
}

div.contact-header {
  border: solid 1px lightgray;
  cursor: pointer;
  height: 50px;
}

#contactList li .contact-header:hover {
  background: #e6e6e6;
}

div.contact-body {
  display: none;
}

div.contact-body td.fb {
  text-decoration: underline;
  cursor: pointer;
}

div.contact-header .arrow {
  float: right;
  margin: 9px 5px 0 0;
  font-size: 30px;
  text-shadow: 0 0 1px lightgray;
  color: lightgray;
}


span.nimi{
    font-size:20px;
    font-weight: bold;
    color: gray;
    vertical-align: middle;
}
span.lisakasutaja{
    text-align: left;

}


span.profile {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 10px;
  display: inline-block;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

span.profile-fixed {
  width: 150px;
  height: 150px;
  z-index: 1000;
  position: absolute;
  margin: 0;
}